<settings>
<servers>
<server>
<id>github</id>
<username>${github.username}</username>
<password>${github.usertoken}</password>
</server>
<server>
<id>docker.io</id>
<username>${docker.username}</username>
<password>${docker.usertoken}</password>
</server>
</servers>
<pluginGroups>
<pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
</pluginGroups>
<profiles>
<profile>
<id>sonar</id>
<activation>
<activeByDefault>true</activeByDefault>
</activation>
<properties>
<!-- Optional URL to server. Default value is http://localhost:9000 -->
<sonar.host.url>
http://zermatt.nageru.com:9000
</sonar.host.url>
</properties>
</profile>
</profiles>
</settings>